*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 1.25;
	color: #333;
	background: #fff;
}


.container{
	padding: 0 50px;
}



.top{
	padding-top: 5px;
	background-color: #d4d4d4;
}
.top-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top-menu__items{
	list-style: none;
	flex-grow: 1;
	display: flex;
}
.top-menu__item{

}
.top-menu__link{
	padding: 10px 15px;
	display: block;
	color: #fff;
	text-decoration: none;
	transition: .5s;

}
.top-menu__link.active{
	background-color: #fff;
	color: #333;
	border-radius: 5px 5px 0 0;
}




.auth{
	display: flex;
	align-items: center;
	color: #fff;
	cursor: pointer;
}
.auth-icon{
	margin-right: 10px;
}
.auth-text{
}



/*  */ 
.header-inner{
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	height: 82px;
}
.logo{
	padding: 17px 0;
}
.logo img{
	filter: grayscale(100%); 
	height: 40px;
	max-width: 100%;
	height: 34px;
}


.main-menu{

}
.main-menu__items{
	display: flex;
	list-style: none;
}
.main-menu__item{

}
.main-menu__link{
	padding: 20px 15px;
	display: block;
	color: #999;
	font-size: 18px;
	text-decoration: none;
	font-weight:500; 
}




/*  */ 
.slider{
	background: #d4d4d4;
}
.slider-item{
	height: 250px;
}
.slider-item__content{
	margin-top: 100px;
}
.slider-item__content .title{
	font-size: 40px;
	line-height: 1.25;
	margin-bottom: 10px;
	color: #fff;
}
.slider-item__content .description{
	font-size: 16px;
	line-height: 1.25;
	margin-bottom: 15px;
	max-width: 40%;
}
.slider-item__content button{
	background: transparent;
	border: 2px solid #fff;
	padding: 10px 25px;
	color: #fff;
	border-radius: 8px;
	display: block;
	cursor: pointer;
}
.slider-item__content button:hover{
	background: #fff;
	color: #999;
}
.slider-item__content button:focus{
	outline: none;
}


/*  */

.service{
	padding: 50px 0; 
}
.tabs{}
.tabs-item{
	display: flex;
	margin-bottom: 15px;
}
.tab-item{
	flex: 0 1 25%;
	text-decoration: none;
	color: #999;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	height: 50px;
	font-size: 18px;
}
.tab-item span{
	padding-left: 10px;
}
.tabs-content{}
.tabs-block{
	display: none;
}
.tabs-block:target{
	display: block;
}


.block-tarif{
	background: #f2f2f2;
	padding: 10px;
	box-shadow: 0 3px 5px 0 rgba(33,47,61,.06);
}
.block-tarif__title{
	background: #999;
	font-size: 18px;
	color: #fff;
	padding: 10px;
	margin-bottom: 15px;
}
.block-tarif__title span{
	font-weight: 700;
	font-size: 24px;
}
.block-tarif__option{
	padding: 10px;
	font-size: 16px;
}
.block-tarif__option .option-block{
	margin-bottom: 15px;
}
.block-tarif__option span{
	font-weight: 700;
}
.block-tarif__price{
	border-top: 1px solid #ccc;
	font-size: 18px;
	padding: 10px;
	text-align: right;
}
.block-tarif__price span{
	font-weight: 700;
	font-size: 32px;
}
.block-tarif__button{
	padding: 10px;
}
.block-tarif__button button{
	background: #999;
	width: 100%;
	font-size: 20px;
	padding: 10px;
	border: none;
	color: #fff;
}



.tabs-block .owl-nav .owl-prev,
.tabs-block .owl-nav .owl-next{
	width: 25px;
	height: 50px;
	position: relative;
}
.tabs-block .owl-nav .owl-prev:focus,
.tabs-block .owl-nav .owl-next:focus{
	outline: none;
}
.tabs-block .owl-nav .owl-prev span,
.tabs-block .owl-nav .owl-next span{
	font-size: 50px;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}




/*  */
.information {
	background: #e7f8ff;
	padding: 75px 0;
}
.information-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.info-cinema{
	flex-basis: 25%;
	overflow: hidden;
	height: 360px;
	width: 100%;
}
.info-blocks {
	flex-basis: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
}
.info-item{
	margin-right: 20px;
	margin-bottom: 20px;
	flex-basis: 30%;
	background: #fff;
	text-align: center;
	border-radius: 10px;

}
.info-item .info-item__link{
	color: #333;
	text-decoration: none;
	display: block;

	padding: 40px 20px;
}
.info-item  .info-item__title{
	font-size: 20px;
}
.info-item .info-item__icon{
	font-size: 40px;
	display: block;
	margin-bottom: 15px;
}


.anons-img{
	max-width: 100%;
}
.anons-img img{
	max-width: 100%;
	object-fit: cover;
}




/*  */ 
.attention{
	background: #f2f2f2;
	padding: 50px 0;
}
.attention-inner{
	display: flex;
	justify-content: space-between;
}
.attention-block{
	flex-basis: 32%;
	overflow: hidden;
	position: relative;
}
.attention-block__title{
	font-size: 24px;
	color: #999;
	font-weight: 400;
	margin-bottom: 15px;
}
.attention-block__slider{
}

.attention-block .owl-nav{
	position: absolute;
	top: -60px;
	right: 0;
}
.attention-block .owl-nav .owl-prev,
.attention-block .owl-nav .owl-next{
	width: 25px;
	height: 50px;
	margin-left: 5px;
}
.attention-block .owl-nav .owl-prev:focus,
.attention-block .owl-nav .owl-next:focus{
	outline: none;
}
.attention-block .owl-nav .owl-prev span{
	font-size: 30px;
}
.attention-block .owl-nav .owl-next span{
	font-size: 30px;
}

.news-item{
	padding: 25px;
	background: #fff;
	min-height: 300px;
	position: relative;
}
.news-title{
	max-height: 50px;
	overflow: hidden;
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: 700;
}
.news-description{
	font-size: 16px;
	margin-bottom: 10px;
	max-height: 160px;
	overflow: hidden;
}
.news-date{
	position: absolute;
	right: 25px;
	bottom: 25px;
	text-align: right;
	color: #999;
}

/*  */ 
.footer{
	padding: 50px 0;
	background: #ccc;
}
.footer-inner{
	display: flex;
}
.footer-block{
	padding: 20px;
}
.footer-menu{
	flex-basis: 25%;
}
.footer-title{
	font-size: 20px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 10px;
}
.footer-contact{
	flex-basis: 40%;
}
.footer-items{
	list-style: none;
}
.footer-item{
	display: block;
	width: 100%;
	margin-left: 5px;
}
.footer-item__link{
	padding: 2px;
	display: block;
	text-decoration: none;
	color: #333;
	font-size: 14px;
}

.footer-phone{
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}
.phone-icon{
	padding: 5px 10px 5px 10px;
	font-size: 30px;
}
.phone-icon i{
	font-size: #fff;
}
.phone-content{
	display: flex;
	flex-direction: column;
}
.number-phone{
	font-size: 24px;
	font-weight: 700;
}


.socmedia{}
.socmedia-items{
	display: flex;
	list-style: none;
}
.socmedia-item{
}
.socmedia-item__link{
	font-size: 30px;
	margin-right: 10px;
	color: #333;
}

.copyright{
	background: #f2f2f2;
	padding: 10px 0;
}
.copyright-text{
	color: #333;
}